<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title)%> | Clinica María Auxiliadora</title>
  <link href="/assets/pages.css.scss" media="screen" rel="stylesheet" />
  <%= favicon_link_tag 'favicon.ico' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
</header>
<%= render 'shared/navbar' %>
<%= yield %>

<%= render 'shared/footer' %>
</body>
</html>